<h1 class="page-header">Dashboard</h1>
<div class="center-block">
    <div class="row">
        <a [routerLink]="['Patients']">
            <div class="col-xs-6 col-md-3 dashboard-button">
                <h3>Patients</h3>
            </div>
        </a>
        <a [routerLink]="['Report']">
            <div class="col-xs-6 col-md-3 dashboard-button">
                <h3>Reports</h3>
            </div>
        </a>
        <a [routerLink]="['Equipment']">
            <div class="col-xs-6 col-md-3 dashboard-button">
                <h3>Equipment</h3>
            </div>
        </a>
        <a [routerLink]="['Visit']">
            <div class="col-xs-6 col-md-3 dashboard-button">
                <h3>Log Patient Visit</h3>
            </div>
        </a>
    </div>
</div>