<!DOCTYPE html>
<html lang="en">
<head>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
	<!--<script type="text/javascript" src="countdown.js"></script>-->

	<!--<link href="/src/css/countdown.css" type="text/css" rel="stylesheet"/>-->
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<a class="navbar-brand" href="../home">ERWaitingTime</a>

	</div>
</nav>
<div align="middle">
	<iframe src="/templates/clock.html" name="clock" allowTransparency="true" scrolling="no" frameborder="0">
	</iframe>
</div>
<div class="col-md-6 col-md-offset-3">
	<h2>Login</h2>
	<form [ngFormModel]="form" (submit)="$event.preventDefault(); onSubmit(form.value)">
		<div *ngIf="error">Check your password</div>
		<div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
			<label for="username">Username</label>
			<input type="text" name="username" id="username" class="form-control" value="" ng-model="vm.username" ngControl="username" required #username/>
			<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
		</div>
		<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" class="form-control" value="" ng-model="vm.password" ngControl="password" required #password/>
			<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
		</div>

		<div class="form-actions">
			<button type="submit" ng-disabled="form.$invalid || vm.dataLoading" [disabled]="!form.valid" class="btn btn-primary">Login</button>

		</div>
	</form>
</div>
<br><br>
<div class="col-md-6 col-md-offset-3">
	<h2>Register</h2>
	Username: <input type="text" class="form-control" #username>
	Password: <input type="number"  class="form-control" #password>
	<br>


	<button (click)="store(username.value,password.value)" class="btn btn-primary"> Submit </button>
</div>

</body>
</html>