<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Logout | ER Waiting Time</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="../assets/css/app.css">
    </head>
    <body>

<!----------------------------------------------------------------------------->

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="../home">ER Waiting Time</a>
				</div>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="../home">Login</a></li>
					</ul>
		    </div>
		</nav>
		<div class="container narrow" role="main">

<!----------------------------------------------------------------------------->

			<h1 class="page-header">Logout</h1>
			<div class="alert alert-success" role="alert">You have been successfully logged out!</div>

<!----------------------------------------------------------------------------->

		</div>
		<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>
