<h1 class="page-header">Patient List</h1>

<table class="table table-striped" id="patient-list">
	<tr>
		<th>Last Name</th>
		<th>First Name</th>
		<th>Sex</th>
		<th>Date of Birth</th>
		<th>Patient ID</th>
		<th>Select</th>
	</tr>
	<tr *ngFor="#patient of patients">
		<td contenteditable='true'>{{patient.p_lname}}</td>
		<td contenteditable='true'>{{patient.p_fname}}</td>
		<td contenteditable='true'>{{patient.is_male.data == '1' ? 'Male' : 'Female'}}</td>
		<td contenteditable='true'>{{patient.dob.slice(0,10)}}</td>
		<td contenteditable='true'>{{patient.pid}}</td>
		<td contenteditable='true'><INPUT type="button" value="Delete Row" onclick="deleteRow('patient-list')" /></td>
	</tr>
</table>

<button type="button" class="btn btn-danger">Edit</button>
<button type="button" class="btn btn-success">Save</button>