<h1 class="page-header">Staff</h1>

<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2" for="staff-lname">Staff LastName:</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="staff-lname" id="staff-lname" #s_lname>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2" for="staff-fname">Staff FirstName:</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="staff-fname" id="staff-fname" #s_fname>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2" for="specialization">Specialization:</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="specialization" id="specialization" #specialization>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2 radio-label">Type:</div>
        <div class="col-sm-10">
            <ul class="radio-options" #isDoctor>
                <li><input (click)="isD=1"  type="radio" name="position" id="position-d" value="1"><label for="position-d">Doctor</label>
                <li><input (click)="isD=0"  type="radio" name="position" id="position-n" value="0"><label for="position-n">Nurse</label>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2" for="experience_in_years">Experience Years:</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="experience_in_years" id="experience_in_years" #experience_in_years>
        </div>
    </div>
    <button a [routerLink]="['Staff']" (click)="testSsPost(s_lname.value,s_fname.value,specialization.value,experience_in_years.value)" class="btn btn-primary"> Submit </button>
</form>

