<h1 class="page-header">Patient Vital Entry</h1>

<form method="post" class="form-horizontal">
	<input name="_csrf" type="hidden"/>

	<div class="form-group">
		<label class="col-sm-2">Oxygen Saturation</label>
		<div class="col-sm-10">
			<input class="col-sm-3" placeholder="0 - 100%" type="number" min="0" max="100" value="100" #o2>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2">Temperature</label>
		<div class="col-sm-10">
			<input class="col-sm-3" placeholder="Celsius" type="number" min="0" max="100" value="37.0" step="0.1" #temp>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2">Blood Pressure (Systolic)</label>
		<div class="col-sm-10">
			<input class="col-sm-3" placeholder="mmHg" type="number" min="0" max="100" value="110" #bp>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2">Pulse</label>
		<div class="col-sm-10">
			<input class="col-sm-3" placeholder="bpm" type="number" min="0" max="240" value="70" #bpm>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2">Respiration</label>
		<div class="col-sm-10">
			<input class="col-sm-3" placeholder="VO2 Max" type="number" min="0" max="100" value="30.0" step="0.1" #resp>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button (click)="postVitals(o2.value, temp.value, bp.value, bpm.value, resp.value)" type="submit" class="btn btn-primary">Log Vitals</button>
		</div>
	</div>

</form>

<table class="table table-striped" id="patient-list">
	<tr>
		<td>Vital ID</td>
		<th>Oxygen Saturation</th>
		<th>Temperature</th>
		<th>Blood Pressure</th>
		<th>Pulse</th>
		<th>Respiration</th>
	</tr>
	<tr *ngFor="#vital of vitals">
		<td>{{vital.vid}}</td>
		<td>{{vital.oxygen_saturation}}</td>
		<td>{{vital.temperature}}</td>
		<td>{{vital.blood_pressure}}</td>
		<td>{{vital.pulse}}</td>
		<td>{{vital.respiration}}</td>
	</tr>
</table>