<html>
<head>
    <title>ERWaitingTime</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="../home">ERWaitingTime</a>

    </div>
</nav>
<br>
<br>
<br>
<div align="center">
    <h2>I am logged in, this should be a dashboard!</h2>
    <a href="../view/equipment.html" class="btn btn-link">Add Equipment</a>
    <a href="#" (click)="onLogout()">Logout</a>
</div>
</body>
</html>
